td {
	padding: 40px;

}


button , button {
padding:20px;
border: none;
background-color: #40407a;
cursor: pointer;
box-shadow: inset 10px 30px 20px green;
color: white;

}
button:hover  , button:hover {

color: pink ;

}


body {
	background-color: #40407a;
}

footer {
	background-color: #218c74;
	margin-left: -100px;	
}
footer>h1 {
width: 700px;


}
input[type="number"] , input[type="email"] , input[type="password"] {


	white-space: 40px;
font-family: cursive;
	border:none;
	color : white;
	white-space: 20px;
	width: 440px;
	height: 80px;
	font-size: 40px; 	 
	background-color: #74b9ff;
}
table {
	margin-left: 300px;
	box-shadow: 20px 20px 30px #ff5252;
}
body {
	background-image: url('img/bck.jpg');
	background-size: cover;
	background-repeat: none;
}
h1 {
background-color: white;
margin-left: 400px;
padding: 40px;
width: 400px;
color: black;
}
h3>a {
	color: white;
}

